body {
    background-color: #121212;
    color: #f5f5f5;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.links {
    margin-top: 20px;
}

.links a {
    color: #e4e1e1;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}

.domain {
    color: #CFC174;
}

.crypto-container {
    margin-top: 20px;
}

.crypto-item {
    background-color: #20201f;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.crypto-item h2 {
    margin: 0 0 5px 0;
}

.crypto-item p {
    margin: 0;
    word-break: break-all;
}